@tailwind base;
@tailwind components;    /* #021024 #052659 #5483B3 #7DA0CA #C1E8FF */
@tailwind utilities;

:root{
  --bg: #021024;
  --bgSoft: #052659;
  --text: #eaf4fa;
  --textSoft: #7DA0CA;
  --btn: #5483B3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
  text-decoration: none;
  color: inherit;
}

.text-lato {
  font-family: "Lato", sans-serif;
  font-weight: "700"; 
}

.container{
  background-color: var(--bg);
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1536px) {
  .container {
      width: 1366px;
      
  }
}

@media only screen and (max-width: 1366px) {
  .container {
      width: 1280px;
      
  }
}

@media only screen and (max-width: 1280px) {
  .container {
      width: 1024px;
      
  }
}

@media only screen and (max-width: 1024px) {
  .container {
      width: 768px;
      
  }
}



@media only screen and (max-width: 768px) {
  .container {
      width: 640px;
      padding: 15px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
      width: 475px;
      padding: 15px;
  }
}

/* CSS for small screens */
@media only screen and (max-width: 480px) {
  .container {
      width: 100%;
      padding: 10px;
  }
}