.container{
    display: flex;
    gap: 10px;  
    
}

.textContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 50px;
    
}

.title{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

.desc{
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 500;
    
}

.buttons{
    display: flex;
    gap: 20px;
    
}

.button{
    padding: 17px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #eaf4fa;
    color: #021024;
    font-weight: 700;

}

.button:first-child{
    color: #eaf4fa;
    background-color: #5483B3;
}


.imgContainer{
    flex: 1;
    position: relative;
    object-fit: fill;
    z-index: 0;
    width: 600px;
    height: 600px;
    
}

.heroImg{
    position: relative;
    object-fit: cover;
    z-index: 0;
    overflow: visible;
}

@media only screen and (max-width: 768px) {
    .imgContainer{
        opacity: 15%;
        
        
        
        position: fixed;
        z-index: 0;
    }
    .textContainer{
        text-align: center;
    }
    .buttons{
        justify-content: center;
    }
  }